{% extends "layoutadmin.njk" %}

{% block content %}

    <section class="recipe-form">
        <form action="/recipes" method="POST">
            <div class="recipe-title">
                <h1>Criando Receita</h1>
                <button type="submit">Editar receita</button>
            </div>
            <div class="form-content">
                <h2>Imagem da receita</h2>
                <input type="url" name="recipe_url" value="{{recipe.recipe_url}}">
            </div>
            <div class="form-content">
                <h2>Ingredientes</h2>
                {% for ingredient in recipe.ingredients %}
                    <input type="text" name="ingredients" value="{{ingredient}}">
                {% endfor %}
            </div>
            <a class="add-ingredient">Adicionar novo ingrediente</a>
            <div class="form-content">
                <h2>Modo de preparo</h2>
                {% for prepare in recipe.prepares %}
                    <input type="text" name="prepare" value="{{prepare}}">
                {% endfor %}

            </div>
            <a class="add-ingredient">Adicionar novo passo</a>
            <div class="form-add">
                <h2>Informações adicionais</h2>
                <input type="text" name="info" value="{{recipe.info}}">

            </div>
        </form>
    </section>
{% endblock content %}