{% extends 'layoutadmin.njk' %}

{% block head %}
    <title>Foodfy | Receita</title>
{% endblock head %}

{% block content %}

    <section class="recipes">
        <div class="recipe-title">
            <h1>Receita:
                {{recipe.name}}</h1>
            <a href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
        </div>

        <div class="recipe">
            <div class="recipe-content">
                <img src="{{recipe.recipe_url}}" alt="{{recipe.name}}"/>
            </div>
            <div class="recipe-info">
                <h1>{{recipe.name}}</h1>
            </div>
            <div class="recipe-author">
                <p>{{recipe.author}}</p>
            </div>
        </div>
        <div class="recipe-subtitle">
            <h2>Ingredientes</h2>
        </div>
        <div class="ingredients">
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            </ul>

        </div>

        <div class="recipe-subtitle">
            <h2>Modo de preparo</h2>
        </div>
        <div class="preparation">
            <ul>
                {% for prepare in recipe.prepares %}
                    <li>{{prepare}}</li>

                {% endfor %}
            </ul>
        </div>

        <div class="recipe-subtitle">
            <h2>Informações adicionais</h2>

        </div>
        <div class="information ">
            <p>{{recipe.info}}</p>
        </div>

    </section>

{% endblock content %}