{% extends "users/layout.njk" %}

{% block header %}
    <div class="links">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
        <a href="/chefs">Chefs</a>

    </div>

{% endblock header %}

{% block content %}
    <section class="cards-chefs">
       {% for chef in chefs %}
            <div class="card-chef">
                <div class="card-content">
                    <img class="avatar-index"src="{{chef.avatar_url}}" alt="{{chef.name}}"/>                     
                </div>
                <div class="card-info-chef">
                    <h1 class="chef-name-index">{{chef.name}}</h1>
                     <p>{{chef.total_recipes}} receitas</p>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock content %}