{% extends 'users/layout.njk' %}

{% block head %}
    <title>Foodfy | Receita</title>
{% endblock head %}

{% block header %}
<div class="links">
     <a href="/about">Sobre</a>
     <a href="/recipes">Receitas</a>
      <a href="/chefs">Chefs</a>              
 </div>            
           
 <div class="filter-form">   
     <form action="/recipes" method="get">
       <input type="text" name="filter" placeholder="Buscar uma receita" value={{filter}}>
          <button type="submit" class="filter">Buscar</button>
    </form>
  </div> 
               
{% endblock header %}

{% block content %}

    <section class="recipes">
        <div class="recipe" id="{{recipe.id}}">
            <div class="recipe-content">
               <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
            </div>
            <div class="recipe-info">
                 <h1>{{recipe.title}}</h1>
            </div>
            <div class="recipe-author">
                 <p>por {{recipe.author}}</p>
            </div>
        </div>
        <div class="recipe-subtitle">
            <h2>Ingredientes</h2>
            <button class="button">ESCONDER</button>
        </div>
        <div class="ingredients">
           {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </div>

        <div class="recipe-subtitle">
            <h2>Modo de preparo</h2>
            <button class="button1">ESCONDER</button>
        </div>
        <div class="preparation">
            {% for preparation in recipe.preparations %}
                <li>{{preparation}}</li>
            {% endfor %}
        </div>

        <div class="recipe-subtitle">
            <h2>Informações adicionais</h2>
            <button class="button2">ESCONDER</button>
        </div>
          <div class="information ">
            <p>{{recipe.information}}</p>
        </div>

    </section>

{% endblock content %}