{% extends 'users/layout.njk' %}
{% block head %}
  <title>Foodfy | Receitas</title>
{% endblock head %}
{% block header %}
  <div class="links">
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>

  </div>
  <div class="filter-form">
    <form action="/recipes" method="get">
      <input type="text" name="filter" placeholder="Buscar uma receita">
      <button type="submit" class="filter">Buscar</button>
    </form>
  </div>
{% endblock header %}

{% block content %}
  <div class="title">
    <h2>Buscando por "bacon"</h2>
  </div>
  <section class="cards">

    {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <div class="card-content">
          <img src="{{recipe.image}}" alt="{{recipe.title}}"/> 
        </div>
        <div class="card-info">
          <h1>{{recipe.title}}</h1>
        </div>
        <div class="card-author">
           <p>por {{recipe.chef_name}}</p>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock content %}

<script src="/script.js"></script>