{% extends "users/layout.njk" %}

{% block title %}
    <title>Resultado da Busca: {{filter}}</title>
{% endblock %}

{% block content %}
  <div class="title">
    <h2>Buscando por "{{filter}}"</h2>
  </div>
  <section class="cards">

    {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <div class="card-content">
          <img src="{{recipe.image}}" alt="{{recipe.title}}"/> 
        </div>
        <div class="card-info">
          <h1>{{recipe.title}}</h1>
        </div>
        <div class="card-author">
           <p>por {{recipe.author}}</p>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock content %}

