{% extends "recipes/layout.njk" %}

{% block header %}
    <div class="links">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
        <a href="/chefs">Chefs</a>

    </div>

{% endblock header %}

{% block content %}
    <section class="cards-chefs">
        {% for principal  in principals %}
            <div class="card-chef">
                <div class="card-content">
                    <img class="avatar-index"src="{{principal.avatar_url}}" alt="{{principal.name}}"/>                    
                </div>
                <div class="card-info-chef">
                    <h1 class="chef-name-index">{{principal.name}}</h1>
                    <p>{{principal.total_recipes}} receitas</p>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock content %}