{% extends 'recipes/layout.njk' %}

{% block content %}



  <div class="banner">
    <div class="banner-content">
      <div class="banner-text">
        <h1>As melhores receitas</h1>
        <p>
          Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
        </p>
      </div>
      <img src="./assets/chef2.png" alt="chef"/>
    </div>
  </div>
  <div class="title">
    <h2>Mais acessadas</h2>
  </div>
  <section class="cards">
    {% for recipe in recipes %}
      <div class="card" id="{{recipe.id}}">
        <div class="card-content">
          <img src="{{recipe.recipe_url}}" alt="{{recipe.name}}"/>
        </div>
        <div class="card-info">
          <h1>{{recipe.name}}</h1>
        </div>
        <div class="card-author">
          <p>{{recipe.author}}</p>
        </div>
      </div>
    {% endfor %}
  </section>

{% endblock content %}