{% extends "admin/layout.njk" %}

{% block content %}
    <div class="form-content">
        
        <section class="recipe-form">
            <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">
                <input type="hidden" name="id" value="{{recipe.id}}">
                <button class="button-delete" type="submit">Deletar</button>
            </form>
            <form action="/admin/recipes?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{recipe.id}}">
                <div class="recipe-title">
                    <h1>Editando Receita</h1>
                    <button type="submit">Salvar receita</button>
                </div>

                <div class="form-content">
                    <h2>Nome da receita</h2>
                    <input type="text" name="title" value="{{recipe.title}}">
                </div>

                <div class="form-content">
                    <h2>Chef</h2>
                    <input type="text" name="author" value="{{recipe.author}}">
                </div>
                <div class="form-content">
                    <h2>Imagem da receita</h2>
                    <input type="url" name="image" value="{{recipe.image}}">
                </div>
                <div class="form-content">
                    <h2>Ingredientes</h2>
                    {% for ingredient in recipe.ingredients %}
                        <input type="text" name="ingredients" value="{{ingredient}}">
                    {% endfor %}
                </div>
                <a class="add-ingredient">Adicionar novo ingrediente</a>
                <div class="form-content">
                    <h2>Modo de preparo</h2>
                    {% for preparation in recipe.preparations %}
                        <input type="text" name="preparations" value="{{preparation}}">
                    {% endfor %}

                </div>
                <a class="add-ingredient">Adicionar novo passo</a>
                <div class="form-add">
                    <h2>Informações adicionais</h2>
                    <textarea name="info" cols="30" rows="10">{{recipe.information}}</textarea>

                </div>

            </form>

        </section>
    </div>
   <script src="/delete.js"></script>
   <script src="/admin.js"></script>
  
{% endblock content %}