{% extends "admin/layout.njk" %}

{% block content %}
    
    <section>       
            <div>
                <h1 class="wellcome">Bem-vindo a área de administração do Foodfy</h1>                
            </div>        
    </section>

{% endblock content %}