@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

* {
  margin: 0;
  border: none;
  padding: 0;
}
:root {
  --primary-color: #c36c08;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

header {
  display: grid;
  grid-template-columns: 150px 1fr 300px;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  padding: 32px;
  box-sizing: border-box;
}

button.filter {
  align-self: end;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 4px;
}

header input {
  border: 1px solid #dddddd;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
}

.logo img {
  margin-right: 122px;
}

.links a {
  font-size: 16px;
  color: #111111;
  text-decoration: none;
  margin-right: 30px;
}

.banner {
  background-color: var(--primary-color);
  max-width: 940px;
  margin: 0 auto;
  border-radius: 30px;
}

.banner-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-content img {
  height: 20rem;
  padding: 32px 32px 0 0;
  margin-left: 45%;
  margin-top: 30px;
}

.banner-text {
  margin-left: 60px;
  margin-top: 117px;
}

.banner-text h1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
}

.banner-text p {
  text-align: left;
  padding: 10px 90px 10px 0;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.title {
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  max-width: 940px;
  margin-top: 50px;
}

.cards {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card {
  cursor: pointer;
}

.card-content img {
  max-width: 300px;
  border-radius: 15px;
}

.card-info h1 {
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
  color: #111111;
}

.card-author {
  margin-top: 5px;
  font-size: 14px;
  color: #777777;
}

footer {
  background-color: #eeeeee;
  text-align: center;
  margin-top: 73px;
  width: 100%;
  position: absolute;
  bottom: -474px;
}

footer p {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  padding: 23px;
}

/* sobre */

.about-text {
  max-width: 940px;
  margin: 0 auto;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
  margin-top: 20px;
}

.subtitle h2 {
  max-width: 940px;
  margin: 0 auto;
  color: #111111;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

/* modal */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
}

.modal-content {
  background-color: white;
  max-width: 660px;
  height: 413px;
  margin: 15% auto;
  border-radius: 16px;
}

.modal-content img {
  margin: 30px 30px 20px 30px;
  width: 600px;
  height: 200px;
  border-radius: 15px;
}

.modal-info h1 {
  text-align: center;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
}

.modal-author {
  color: #777777;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 60px;
}

.modal-close {
  font-size: 16px;
  color: #999999;
  text-align: center;
  cursor: pointer;
}

.modal-overlay.active {
  visibility: visible;
}

/* recipe */

.recipe {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

.recipe-content img {
  max-width: 940px;
  max-height: 280px;
  border-radius: 15px;
}
.recipe-info {
  color: #111111;
  font-size: 32px;
  line-height: 42px;
  margin-top: 50px;
}

.recipe-author {
  color: #777777;
  font-size: 20px;
  line-height: 30px;
  margin-top: 4px;
}

.recipe-subtitle {
  color: #111111;
  font-size: 18px;
  line-height: 28px;
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 23px;
}

.recipe-subtitle button {
  margin-left: 8px;
  color: #999999;
  background-color: white;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  border: none;
}

.recipe-subtitle button:focus {
  outline: none;
}

li {
  max-width: 940px;
  margin: 0 auto;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.information p {
  max-width: 940px;
  margin: 0 auto;
  color: #444444;
  font-size: 18px;
  line-height: 28px;
}

.preparation.show-remove,
.ingredients.show-remove,
.information.show-remove {
  display: none;
}
img.avatar-index {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.cards-chefs {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.card-chef {
  display: grid;
  grid-template-columns: 64px 1fr;
  padding: 0;
}

.card-info-chef h1 {
  font-size: 18px;
  line-height: 28px;
  color: #111111;
  margin-left: 20px;
}

.card-info-chef p {
  margin: 5px 0px 10px 20px;
  font-size: 14px;
  color: #777777;
}
