{% extends 'admin/layout.njk' %}


{% extends "admin/layout.njk" %}

{% block content %}
    <div class="recipe-title">
        <h1>Gerenciar chefs</h1>
        <a href="/admin/chefs/create">Criar Chef</a>
    </div>
    <section class="cards">
        {% for recipe in recipes %}
            <div class="card">
                <div class="card-content">
                    <img src="{{recipe.recipe_url}}" alt="{{recipe.name}}"/>
                </div>
                <div class="card-info">
                    <h1>{{recipe.name}}</h1>
                    <p class="card-author">{{recipe.author}}</p>
                    <a class="view-button" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock content %}