{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Foodfy | Chef</title>
{% endblock head %}

{% block content %}

    <section class="recipes">
        <div class="recipe-title">
            <h1>Chef:
                {{chef.name}}
            </h1>
            <a href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
        </div>

        <div class="recipe">
            <div class="recipe-content">
                <img class="avatar" src="{{chef.avatar_url}}" alt="{{chef.name}}"/>
            </div>
            <div class="recipe-info">
                <h1 class="chef-name">{{chef.name}}</h1>
            </div>
            <div class="recipe-author">
                <p>{{chef.total_recipes}}
                    receitas</p>
            </div>
        </div>
    </div>
</section>
<div class="title">
    <h2>Receitas</h2>
</div>
<section class="cards-recipes">
    {% for recipe in chefRecipes %}
        <div class="card-recipe" id="{{chef.id}}">
            <div class="card-content">
                <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
            </div>
            <div class="card-info">
                <h1>{{recipe.title}}</h1>
                <p class="card-author">{{chef.name}}</p>
                <a class="view-button" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </div>

        </div>
    {% endfor %}
</section>

{% endblock content %}